<div class="col-12 col-sm-6 col-md-4 centered">
  <%= link_to mission_path(mission) do %>
    <div class="card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= mission.photos.present? ? cl_image_path(mission.photos.first.photo, height: 300, width: 400, crop: :fill) : 'https://res.cloudinary.com/dgkabaqi8/image/upload/v1551885501/Common%20Good%20-%20Nice%20photos/volunteer.jpg' %>')">
      <div class="c-info">
        <div><%= mission.title %></div>
        <div><i class="fas fa-map-pin"></i> <%= mission.city%>, <%= mission.country %></div>
        <% if mission.start_date != nil && mission.end_date != nil %>
          <div><i class="fas fa-calendar-alt"></i> <%= mission.start_date.strftime('%d/%m/%Y') %> - <%= mission.end_date.strftime('%d/%m/%Y') %></div>
        <% end %>
      </div>
    </div>
    <div class="card-descrip">
      <div class="texthome">
        <p id="c-description">
          <% if mission.photos.present? %>
            <%= mission.description.truncate(120)%>
          <% end %>
        </p>
      </div><!--    <i class="far fa-heart" id="biglove"></i> -->
    </div>
  <% end %>
</div>
