<div class="col-12 col-md-6 centered">
  <%= link_to mission_path(mission) do %>
  <% if mission.photos.any? %>
    <div class="card search-card" style="background-image: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%,rgba(51, 51, 51, 0.4) 100%), url('<%= cl_image_path mission.photos.first.photo, height: 300, width: 400, crop: :fill %>')">
      <div class="card-box-description">
        <div class="card-description search-title-card">
          <h3 id="card-title-description-search"><%= mission.title %></h3>
        </div>
        <div class="title-description-card search-title-card">
            <p><%= mission.city%>, <%= mission.country %> - <%= mission.start_date%></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="card search-card" style="background-image: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%,rgba(51, 51, 51, 0.4) 100%), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551885501/Common%20Good%20-%20Nice%20photos/volunteer.jpg')">
      <div class="card-box-description">
        <div class="card-description search-title-card">
          <h3 id="card-title-description-search"><%= mission.title %></h3>
        </div>
        <div class="title-description-card">
            <p><%= mission.city%>, <%= mission.country %> - <%= mission.start_date%></p>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

<!--  <div class="card-ratings">
        <% #if mission.reviews.empty? %>
          <p></p>
        <% #else %>
           <i class="fas fa-star fa-sm"></i>
        <% #end %>
      </div> -->
