<%= render 'banner' %>

<div class="wrapper urgent">
  <div class="intro">
    <div class=".col-md-6 .col-md-offset-3">
      <h1>What we do; how we help you to find the perfect mission
      What we do; how we help you to find the perfect mission
      What we do; how we help you to find the perfect mission</h1>
    </div>
  </div>


  <div class="button-us">
    <div class="btn-container">
      <%= link_to "Add an association", new_organization_path(@organization), class: "thin-btn" %>
    </div>
  </div>

  <h1 class="divider"><span></span><span>They need you NOW</span><span></span></h1>

  <div class="urgent-cards">
    <% @missions_urgent.each do |mission| %>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      </div>
      <div class="card-info">
        <h3><%= link_to mission.title, mission_path(mission) %></h3>
        <div class="card-homepage-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%= render 'banner-all' %>
<div class="wrapper trustyworth">
  <h1 class="divider"><span></span><span>Top trustyworth</span><span></span></h1>
    <div class="trustyworth-cards">
    <% @missions_trustyworth.each do |mission| %>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      </div>
      <div class="card-info">
        <h3><%= link_to mission.title, mission_path(mission) %></h3>
        <div class="card-homepage-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
    </div>
    <% end %>
  </div>
</div>


<div class="wrapper recent">
  <h1 class="divider"><span></span><span>Most recent</span><span></span></h1>
    <div class="recent-cards">
    <% @missions_recent.each do |mission| %>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      </div>
      <div class="card-info">
        <h3><%= link_to mission.title, mission_path(mission) %></h3>
        <div class="card-homepage-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
    </div>
    <% end %>
  </div>
</div>





