<%= render 'banner' %>

<div class="wrapper urgent">
  <div class="intro">
    <div class=".col-md-6 .col-md-offset-3">
      <h3>Common Good is the world's best performing benchmarking platform for international volunteering. With us, it is easier to find the humanitarian missions that best suit you.</h3>
    </div>
  </div>

<% if user_signed_in? && current_user.admin? %>
  <div class="button-us">
    <div class="btn-container">
      <%= link_to "Add an association", new_organization_path(@organization), class: "thin-btn" %>
    </div>
  </div>
<% end %>

  <h3 class="divider titlesHP"><span></span><span>They Need You NOW !</span><span></span></h3>


  <div class="row urgent-cards">
    <% @missions_urgent.each do |mission| %>
      <%= render "missions/card", mission: mission %>
    <% end %>
  </div>
</div>


<%= render 'banner-all' %>

<div class="wrapper trustyworth">
  <h3 class="divider titlesHP"><span></span><span>Top Trustworthy NGOs</span><span></span></h3>
    <div class="row trustyworth-cards">
    <% @missions_trustyworth.each do |mission| %>
      <%= render "missions/card", mission: mission %>
    <% end %>
  </div>
</div>


<div class="wrapper recent">
  <h3 class="divider titlesHP"><span></span><span>Added Recently</span><span></span></h3>
    <div class="row recent-cards">
    <% @missions_recent.each do |mission| %>
      <%= render "missions/card", mission: mission %>
    <% end %>
  </div>
</div>





