

<div class="wrapper" id="wrapperesult" >
    <!-- Sidebar -->
    <nav id="sidebar">

        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <h3>Filters</h3>
        </div>


        <%= simple_form_for :query, url: search_path, method: :get do |f| %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::COSTOFLIFE,  class: 'form-check-inline' %>
          <div class="row">
            <div class="col-12">
              <% counter = 0 %>
              <% Mission::COSTOFLIFE.each do |item| %>
                <% counter += 1 %>
                <% identifier = "inlineRadio#{counter}" %>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id='<%= identifier %>' value='<%= item %>'>
                  <label class="form-check-label" for='<%= identifier %>'><%= item %></label>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <% counter = 0 %>
            <% Mission::CONTINENT.each do |item| %>
              <% counter += 1 %>
              <% identifier = "inlineRadio#{counter}" %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id='<%= identifier %>' value='<%= item %>'>
                <label class="form-check-label" for='<%= identifier %>'><%= item %></label>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% counter = 0 %>
            <% Mission::SECTOR.each do |item| %>
              <% counter += 1 %>
              <% identifier = "inlineRadio#{counter}" %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id='<%= identifier %>' value='<%= item %>'>
                <label class="form-check-label" for='<%= identifier %>'><%= item %></label>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% counter = 0 %>
            <% Mission::GREATFOR.each do |item| %>
              <% counter += 1 %>
              <% identifier = "inlineRadio#{counter}" %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id='<%= identifier %>' value='<%= item %>'>
                <label class="form-check-label" for='<%= identifier %>'><%= item %></label>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% counter = 0 %>
            <% Mission::CLIMATE.each do |item| %>
              <% counter += 1 %>
              <% identifier = "inlineRadio#{counter}" %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id='<%= identifier %>' value='<%= item %>'>
                <label class="form-check-label" for='<%= identifier %>'><%= item %></label>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% counter = 0 %>
            <% Mission::LANGUAGE.each do |item| %>
              <% counter += 1 %>
              <% identifier = "inlineRadio#{counter}" %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id='<%= identifier %>' value='<%= item %>'>
                <label class="form-check-label" for='<%= identifier %>'><%= item %></label>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% counter = 0 %>
            <% Mission::SAFETY.each do |item| %>
              <% counter += 1 %>
              <% identifier = "inlineRadio#{counter}" %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id='<%= identifier %>' value='<%= item %>'>
                <label class="form-check-label" for='<%= identifier %>'><%= item %></label>
              </div>
            <% end %>
          </div>
          <!-- <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
          </div> -->

          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::CONTINENT %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::GREATFOR %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::LANGUAGE %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::CLIMATE %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::SAFETY %>
          <%= f.submit %>
        <% end %>



<!--         <div class="sidebar-content">
          <div class="costs">
            <div class="btn-cost">
              <p> <$500/month</p>
            </div>
            <div class="btn-cost">
              <p> <$1000/month</p>
            </div>
            <div class="btn-cost">
              <p> <$2000/month</p>
            </div>
          </div>
          <div class="countries">
            <div class="btn-country">
              <p> Africa </p>
            </div>
            <div class="btn-country">
              <p> Asia</p>
            </div>
            <div class="btn-country">
              <p> Europe </p>
            </div>
            <div class="btn-country">
              <p> North America </p>
            </div>
            <div class="btn-country">
              <p> Middle East </p>
            </div>
            <div class="btn-country">
              <p> South America </p>
            </div>
            <div class="btn-country">
              <p> Oceania </p>
            </div>
            <div class="btn-country">
              <p> Space </p>
            </div>
          </div>
          <div class="sector">
            <div class="btn-sector">
              <p> Art & Music </p>
            </div>
            <div class="btn-sector">
              <p> Climate Change </p>
            </div>
            <div class="btn-sector">
              <p> Community Development </p>
            </div>
            <div class="btn-sector">
              <p> Education </p>
            </div>
            <div class="btn-sector">
              <p> Environment </p>
            </div>
            <div class="btn-sector">
              <p> Health </p>
            </div>
            <div class="btn-sector">
              <p> Refugee </p>
            </div>
            <div class="btn-sector">
              <p> Water supply </p>
            </div>
            <div class="btn-sector">
              <p> Wildlife </p>
            </div>
          </div>
          <div class="great_for">
            <div class="btn-great_for">
              <p> Familie </p>
            </div>
            <div class="btn-great_for">
              <p> Single </p>
            </div>
            <div class="btn-great_for">
              <p> Couple </p>
            </div>
            <div class="btn-great_for">
              <p> Retiree </p>
            </div>
            <div class="btn-great_for">
              <p> Men </p>
            </div>
            <div class="btn-great_for">
              <p> Women </p>
            </div>
          </div>
          <div class="climate">
            <div class="btn-climate">
              <p> Tropical </p>
            </div>
            <div class="btn-climate">
              <p> Temperate </p>
            </div>
            <div class="btn-climate">
              <p> Continental </p>
            </div>
            <div class="btn-climate">
              <p> Dry </p>
            </div>
            <div class="btn-climate">
              <p> Polar </p>
            </div>
          </div>
          <div class="language">
            <div class="btn-language">
              <p> English </p>
            </div>
            <div class="btn-language">
              <p> Spanish </p>
            </div>
            <div class="btn-language">
              <p> French </p>
            </div>
            <div class="btn-language">
              <p> Portuguese </p>
            </div>
            <div class="btn-language">
              <p> Chinese </p>
            </div>
            <div class="btn-language">
              <p> German </p>
            </div>
          </div>
          <div class="safety">
            <div class="btn-safety">
              <p> Safe </p>
            </div>
            <div class="btn-safety">
              <p> Safe for women </p>
            </div>
            <div class="btn-safety">
              <p> Cool but be careful </p>
            </div>
            <div class="btn-safety">
              <p> Low murder rate </p>
            </div>
          </div>
        </div> -->
      </nav>

    <!-- Page Content -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span>Add Filters</span>
              </button>
          </div>
      </nav>
      <div class="container">
        <div class="row">
          <% @missions.each do |mission| %>
            <%= render 'mission', mission: mission %>
          <% end %>
        </div>
    </div>
  </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>
