

<div class="wrapper" id="wrapperesult" >
    <!-- Sidebar -->
    <nav id="sidebar">

        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <h3>Filters</h3>
        </div>


        <%= simple_form_for :query, url: search_path, method: :get do |f| %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::COSTOFLIFE,  class: 'form-check-inline' %>

          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class='filters-container'>
                <% counter = 0 %>
                <% Mission::COSTOFLIFE.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "inlineRadio#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[cost_of_life]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">
                <% counter = 0 %>
                <% Mission::CONTINENT.each_with_index do |item, index| %>
                  <% counter += 1 %>
                  <% identifier = "inlineRadio#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[continent]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">
                <% Mission::SECTOR.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "inlineRadio#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" name='filter[sectors]' type="checkbox" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
            <% counter = 0 %>
          </div>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">
                <% counter = 0 %>
                <% Mission::GREATFOR.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "inlineRadio#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[great_for]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">
                <% counter = 0 %>
                <% Mission::CLIMATE.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "inlineRadio#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[climate]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <!-- <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
          </div> -->

          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::CONTINENT %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::GREATFOR %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::LANGUAGE %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::CLIMATE %>
          <%#= f.input :Price,  as: :radio_buttons, collection: Mission::SAFETY %>
          <%= f.submit %>
        <% end %>
      </nav>

    <!-- Page Content -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span>Add Filters</span>
              </button>
          </div>
      </nav>
      <div class="container">
        <div class="row">
          <% @missions.each do |mission| %>
            <%= render 'mission', mission: mission %>
          <% end %>
        </div>
      </div>
    </div>
    <svg width="535" height="255" viewBox="0 0 535 255" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M534.5 255H0V0C0 0 90.6172 100.703 183.5 143C364.304 225.335 534.5 255 534.5 255Z" fill="#F4A140"/>
    </svg>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>


