

<div class="wrapper page-content" id="wrapperesult">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="sidebar-header">
      </div>

      <div class="scrollsidebar">
        <%= simple_form_for :query, url: search_path, method: :get do |f| %>

        <h1> MY PREFERENCES </h1>
        <br>
        <h2> PRICE PER MONTH </h2>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class='filters-container'>
                <% counter = 0 %>
                <% Mission::COSTOFLIFE.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "cost_of_life_#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[cost_of_life]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <h2> GEOGRAPHIC ZONE </h2>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">

                <% Mission::CONTINENT.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "continent_#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[continent]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <h2> NGO'S SECTOR </h2>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">
                <% Mission::SECTOR.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "sectors_#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" name='filter[sectors]' type="checkbox" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <h2> GREAT FOR </h2>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">

                <% Mission::GREATFOR.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "great_for_#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[great_for]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <h2> CLIMATE </h2>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">
                <% Mission::CLIMATE.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "climate_#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[climate]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <h2> SPOKEN LANGUAGE </h2>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">
                <% counter = 0 %>
                <% Mission::LANGUAGE.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "inlineRadio#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[language]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <h2> SAFEFY SITUATION </h2>
          <div class="row" id="filter">
            <div class="col-12 category-choices">
              <div class="filters-container">
                <% counter = 0 %>
                <% Mission::SAFETY.each do |item| %>
                  <% counter += 1 %>
                  <% identifier = "inlineRadio#{counter}" %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input invisible" type="radio" name="filter[safety]" id='<%= identifier %>' value='<%= item %>'>
                    <label class="form-check-label filter-radio-btn" for='<%= identifier %>'><%= item %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-sidebar"><%= f.submit %></button>
        <% end %>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div>
            <h2> CORRESPONDING MISSIONS</h2>
          </div>
          <div class="searchpage-infos">
            <h3> <%= @missions.count %> missions match your search </h3>
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Add Filters</span>
            </button>
          </div>
        </div>
      </nav>
      <div class="container cards-search-container">
        <div class="row">
          <% @missions.each_with_index do |mission, index| %>
            <%= render 'mission', mission: mission, index: index %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>


