<div id="mission-container">
  <% if @mission.photos.empty? %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551277349/slide-2.jpg');">
      <h1><%= @mission.title %></h1>
    </div>
  <% else %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @mission.photos.each_with_index do |photo, i| %>
          <div class="carousel-item <%= 'active' if i == 0 %>">
            <%= cl_image_tag photo.photo, height: 500, crop: :fill, class: "d-block w-100 organization-carousel-image"%>
            <div class="carousel-caption d-none d-md-block">
              <h1><%= @mission.title %></h1>
              <p><%= @mission.city %>  &#x1F4CD; | DATE</p>

              <div id="apply-btn">
                <% if @mission.users.include?(current_user)  %>
                  <p>Application Sent</p>
                <% else %>
                  <p>
                    <%= link_to "Apply now", "/missions/#{@mission.id}/mission_users", method: 'post', remote: true %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  <% end %>

  <div id="main-container">
    <div id="cards">
      <div class="description"> Mission description
        <hr>
        <h2><%= @mission.description %></h2>
      </div>
      <div class="organization"> Learn more about the NGO
        <hr>
        <p><%= link_to @mission.organization.name, organization_path(@organization, mission_id: @mission.id) %></p>
      </div>
      <div class="languages"> Mission Language
        <hr>
        <h2><%= @mission.language %></h2>
      </div>
      <div class="skills">What do we need from you?
        <hr>
        <h2><%= @mission.skill %></h2>
      </div>
    </div>

    <div class="mission-map" id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class=container>
    <div class="rowshow">
      <div class="col-xs-6">
        <div class="volunteers">Former volunteers
            <hr>
            <img src='https://res.cloudinary.com/dgkabaqi8/image/upload/v1551705971/Captura_de_pantalla_2019-03-04_a_la_s_14.25.51.png' class="avatar-large"/>
            <img src='https://res.cloudinary.com/dgkabaqi8/image/upload/v1551705530/Captura_de_pantalla_2019-03-04_a_la_s_14.18.02.png' class="avatar-large"/>
            <img src='https://res.cloudinary.com/dgkabaqi8/image/upload/v1551705647/Captura_de_pantalla_2019-03-04_a_la_s_14.20.27.png' class="avatar-large"/>
            <img src='https://res.cloudinary.com/dgkabaqi8/image/upload/v1551706168/Captura_de_pantalla_2019-03-04_a_la_s_14.29.10.png' class="avatar-large"/>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="staff">Our Staff
            <hr>
            <img src='https://res.cloudinary.com/dgkabaqi8/image/upload/v1551705795/Captura_de_pantalla_2019-03-04_a_la_s_14.22.57.png' class="avatar-large"/>
            <img src='https://res.cloudinary.com/dgkabaqi8/image/upload/v1551705889/Captura_de_pantalla_2019-03-04_a_la_s_14.24.30.png' class="avatar-large"/>
            <img src='https://res.cloudinary.com/dgkabaqi8/image/upload/v1551705842/Captura_de_pantalla_2019-03-04_a_la_s_14.23.44.png' class="avatar-large"/>
          </div>
        </div>
      </div>
    </div>

    <br>
  <div class="container">
    <div class="col-sm-6">
      <div class="container">
        <div class="rvw">Reviews</div>
        <hr>
      </div>
    </div>
  </div>



    <div class="container">
    <div class="row" style="margin-left: -10px">
      <div class="col-sm-12">
        <div class="message">
          <img class="avatar-large" src="https://res.cloudinary.com/dgkabaqi8/image/upload/v1551775519/Captura_de_pantalla_2019-03-05_a_la_s_9.44.45.png">
          <div class="message-name">
            <h3>Rob Trujillo</h3>
            <p>02/03/19</p>
          </div>
          <div class="message-body">
            <p><strong>Life changing experience</strong></p>
            <p>
              I spent 3 weeks in this mission. I will never forget the experience and found a new goal for my life.
            </p>
          </div>
          <div class="message-status">
            <p class="status pending"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-left: -10px">
      <div class="col-sm-12">
        <div class="message">
          <img class="avatar-large" src="https://res.cloudinary.com/dgkabaqi8/image/upload/v1551706475/Captura_de_pantalla_2019-03-04_a_la_s_14.34.10.png">
          <div class="message-name">
            <h3>Corey Taylor</h3>
            <p>03/12/18</p>
          </div>
          <div class="message-body">
            <p><strong>Proud of working here</strong></p>
            <p>
              I can only urge you to apply for this mission. If you want to be involved with a community and see the direct impact of your work.
            </p>
          </div>
          <div class="message-status">
            <p class="status pending"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="deco">
      <svg width="535" height="255" viewBox="0 0 535 255" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M534.5 255H0V0C0 0 90.6172 100.703 183.5 143C364.304 225.335 534.5 255 534.5 255Z" fill="#F4A140"/>
      </svg>
    </div>

  </div>
</div>
