<div class="wrapperm">
  <div class="row">
    <div class="col-sm-12">
      <div class="grida">
        <% if @mission.photo.present? %>
          <div class="box a" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path @mission.photo, height: 300, width: 400, crop: :fill %>')">
        <% else %>
          <div class="box a" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1527499456709-838ffdcfee3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
        <% end %>
        </div>
      </div>
     <!--    <
    div class="box b">PHOTO 2</div> -->
  <!--     </div> -->
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="missioncard">
          <div id="apply-btn">
            <% if @mission.users.include?(current_user)  %>
              <p>Application Sent</p>
            <% else %>
              <p>
                <%= link_to "Apply now", "/missions/#{@mission.id}/mission_users", method: 'post', class: 'btn btn-medium', remote: true %>
              </p>
            <% end %>
          </div>

        <div class="missioncard-category"></div>

        <div class="missioncard-description">
          <h2><%= @mission.title %></h2>
          <p><%= @mission.city %> &#x26F3;</p>
        </div>

        <img class="missioncard-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">

        <!-- <a class="missioncard-link" href="#" ></a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="gridb">
        <div class="bx1"> What you will be doing:
          <p><%= @mission.description %></p>
        </div>
        <div class="bx2"> Get more info about this NGO:
          <p><%= link_to @mission.organization.name, organization_path(@organization, mission_id: @mission.id) %></p>
        </div>
        <div class="bx3"> Languages
          <p><%= @mission.language %></p>
        </div>
        <div class="bx4">What we are looking for:
          <p><%= @mission.skill %></p>
        </div>
        <div class="bx5" id="map"
             style="width: 100%;
                    height: 300px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="gridc">
        <div class="cx1"> Our Volunteers
          <hr>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
        </div>
        <div class="cx2"> Meet our Staff
          <hr>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
        </div>

        <div class="cx3"> Reviews
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="message">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <div class="message-name">
          <h3>Rob Trujillo</h3>
          <p>10/07/18</p>
        </div>
        <div class="message-body">
          <p><strong>Life changing experience</strong></p>
          <p>
            I spent 3 weeks in this mission. I will never forget the experience and found a new goal for my life.
          </p>
        </div>
        <div class="message-status">
          <p class="status pending"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="message">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <div class="message-name">
          <h3>Rob Trujillo</h3>
          <p>10/07/18</p>
        </div>
        <div class="message-body">
          <p><strong>Life changing experience</strong></p>
          <p>
            I spent 3 weeks in this mission. I will never forget the experience and found a new goal for my life.
          </p>
        </div>
        <div class="message-status">
          <p class="status pending"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="gridd">
        <div class="dx1">
          <% if user_signed_in? && current_user.admin? %>
          <p><%= link_to 'Delete', mission_path(@mission),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: 'thin-btn' %>
          </p>
          <% end %>
          <p><%= link_to 'Back', missions_path, class: 'thin-btn' %><p>
        </div>
        <div class="dx2">
          <p><%= link_to 'Add a Review', new_mission_review_path(@mission), class: 'thin-btn' %><p>
        </div>
      </div>
    </div>
  </div>
</div>
