<div class="wrapperm">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <% if @mission.photos.empty? %>
          <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551277349/slide-2.jpg');">
            <h1><%= @mission.title %></h1>
          </div>

        <% else %>

          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% @mission.photos.each_with_index do |photo, i| %>
                <div class="carousel-item <%= 'active' if i == 0 %>">
                  <%= cl_image_tag photo.photo, class: "d-block w-100"%>
                  <div class="carousel-caption d-none d-md-block">
                    <h1><%= @mission.title %></h1>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="missioncard">
          <button id="sweet-alert-demo" class="apply-btn">Apply now!</button>

        <div class="missioncard-category"></div>

        <div class="missioncard-description">
          <h2><%= @mission.title %></h2>
          <p><%= @mission.city %> &#x26F3;</p>
        </div>

        <img class="missioncard-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">

        <!-- <a class="missioncard-link" href="#" ></a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="gridb">
        <div class="bx1"> What you will be doing:
          <p><%= @mission.description %></p>
        </div>
        <div class="bx2"> Get more info about this NGO:
          <p><%= link_to @mission.organization.name, organization_path(@organization, mission_id: @mission.id) %></p>
        </div>
        <div class="bx3"> Languages
          <p><%= @mission.language %></p>
        </div>
        <div class="bx4">What we are looking for:
          <p><%= @mission.skill %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="gridc">
        <div class="cx1"> Our Volunteers
          <hr>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
        </div>
        <div class="cx2"> Meet our Staff
          <hr>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
        </div>

        <div class="cx4"> Reviews
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="message">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <div class="message-name">
          <h3>Rob Trujillo</h3>
          <p>10/07/18</p>
        </div>
        <div class="message-body">
          <p><strong>Life changing experience</strong></p>
          <p>
            I spent 3 weeks in this mission. I will never forget the experience and found a new goal for my life.
          </p>
        </div>
        <div class="message-status">
          <p class="status pending"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="gridd">
        <div class="dx1">
          <% if user_signed_in? && current_user.admin? %>
          <p><%= link_to 'Delete', mission_path(@mission),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: 'thin-btn' %>
          </p>
          <% end %>
          <p><%= link_to 'Back', missions_path, class: 'thin-btn' %><p>
        </div>
        <div class="dx2">
          <p><%= link_to 'Add a Review', new_mission_review_path(@mission), class: 'thin-btn' %><p>
        </div>
      </div>
    </div>
  </div>
</div>
