<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2> Add your association </h2>
      <%= simple_form_for (@organization) do |f| %>
        <%= f.input :name, placeholder: 'Enter your name' %>
        <%= f.input :description, placeholder: 'Share your mission with us' %>

        <hr>
        <%= f.submit class: "btn-medium"%>
        <%= link_to "Back", organizations_path, class: 'btn btn-medium' %>
      <% end %>
      </div>
  </div>
</div>
