<% if @organization.photo.blank? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551277349/slide-2.jpg');">
      <h1><%= @organization.name %></h1>
  </div>
<% else %>
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @organization.photo %>')">
    <h1><%= @organization.name %></h1>
  </div>
<% end %>

<% if user_signed_in? && current_user.admin? %>
<div class="container">
  <div class="btn-container">
    <%= link_to "Add a mission", new_organization_mission_path(@organization), class: "thin-btn" %>
  </div>
<% end %>


  <div class="card-organization">
         <p><%= @organization.description %></p>
  </div>
</div>

<div class="container marged-bottom" style= "background-color: #f7b864">
  <h2 class="title1">Our Missions</h2>
  <div class="row">
    <% @organization.missions.each do |mission| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to mission_path(mission) do %>
            <% if mission.photo.present? %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path mission.photo, height: 300, width: 400, crop: :fill %>')">
            <% else %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1527499456709-838ffdcfee3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
            <% end %>
              <div class="card-description text-center">
                <h3><%= link_to mission.title, mission_path(mission) %></h3>
              </div>
              <div class="card-ratings">
              <% if mission.reviews.empty? %>
                <p>No rating</p>
              <% else %>
                 <i class="fas fa-star fa-sm"></i>
              <% end %>
              </div>
              <i class="far fa-heart" id="biglove"></i>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class= "container">
  <h3 class="title2">Meet Our Team</h3>
  <div class="related-posts">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div>
          <img alt="Staff 1" src="/assets/user3pg.jpg", style="border-radius:50%"/>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div>
          <img alt="Staff 2" src="/assets/user2.jpg", style="border-radius:50%" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div>
          <img alt="Staff 3" src="/assets/user1.jpg", style="border-radius:50%" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cx3">
  <p><%= link_to 'Back', mission_path(@mission), class: 'thin-btn' %></p>
</div>

<% if user_signed_in? && current_user.admin? %>
<div class="cx3">
  <p><%= link_to 'Delete', organization_path(@organization),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: 'thin-btn' %>
  </p>
</div>
<% end %>

