<% if @organization.photos.empty? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551277349/slide-2.jpg');">
    <h1 class="org-banner-title"><%= @organization.name %></h1>
  </div>
<% else %>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @organization.photos.each_with_index do |photo, i| %>
        <div class="h550 carousel-item <%= 'active' if i == 0 %>">
          <%= cl_image_tag photo.photo, class: "d-block w-100 organization-carousel-image"%>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="org-banner-title"><%= @organization.name %></h1>
          </div>
        </div>
      <% end %>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<% end %>


<% if user_signed_in? && current_user.admin? %>
  <div class="button-us">
    <div class="btn-container">
      <%= link_to "Edit this association", edit_organization_path(@organization), class: "thin-btn" %>
    </div>
  </div>
<% end %>

  <% if user_signed_in? && current_user.admin? %>
    <div class="container">
      <div class="btn-container">
        <%= link_to "Add a mission", new_organization_mission_path(@organization), class: "thin-btn" %>
      </div>
    </div>
  <% end %>

  <div class="container card-organization">
         <p><%= @organization.description %></p>
  </div>
</div>

<div class="container">
  <h3 class="title2">Our Missions</h3>
  <div class="related-posts">
    <div class="container marged-bottom" style= "background-color: #f7b864">
      <div class="row">
        <% @organization.missions.each do |mission| %>
          <div class="col-xs-12 col-sm-4">
            <%= link_to mission_path(mission) do %>
              <% if mission.photos.any? %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path mission.photos.first.photo, height: 300, width: 400, crop: :fill %>')">
                  <h3 class="card-box-description"><%= mission.title %></h3>
                </div>
              <% else %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551885501/Common%20Good%20-%20Nice%20photos/volunteer.jpg')">
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to "back", request.referer, class: "thin-btn" %>
    </div>
  </div>
</div>
  <div class= "container">
    <h3 class="title2">Meet Our Team</h3>
    <div class="related-posts">
      <div id="team-avatar-container" style="display: flex; justify-content: center">
        <div class="avatar-staff" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551694350/user3pg.jpg')">
        </div>
        <div class="avatar-staff" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551694350/user4.jpg')">
        </div>
        <div class="avatar-staff" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551694350/user1.jpg')">
        </div>
        <div class="avatar-staff" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551694350/user2.jpg')">
        </div>
      </div>
    </div>
  </div>

<% if user_signed_in? && current_user.admin? %>
<div class="cx3">
  <p><%= link_to 'Delete', organization_path(@organization),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: 'thin-btn' %>
  </p>
</div>
<% end %>
