<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2> Apply to a mission </h2>
      <%= simple_form_for (@mission_user) do |f| %>
        <%= f.input :user_id, placeholder: 'Enter your name' %>
        <%= f.input :mission_id, placeholder: 'Choose your mission' %>

        <hr>
        <%= f.submit class: "btn-medium"%>
        <%= link_to "Back", organizations_path(@organization), class: 'btn btn-medium' %>
      <% end %>
      </div>
  </div>
</div>
